---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="About the Berens von Rautenfeld family"
	pubDate={new Date('August 15 2025')}
	heroImage="/wappen_one_color.svg"
>
	<p>
	From the ancient regions of the Netherlands to Königsberg, Latvia, and Russia — 
	and onward to Germany and Brazil — a family story spanning centuries, countries, and continents.</p>

</Layout>
