---
layout: ../layouts/BaseLayout.astro
title: "Impressum"
---

<section class="prose lg:prose-xl mx-auto py-8 font-sans">
<div class="WordSection1">
<p style="line-height:normal"><b><span style='font-size:18.0pt;
font-family:"Times New Roman",serif;color:black'>Impressum / Legal Notice</span></b></p>
<p style="line-height:normal"><b><span style='font-family:"Times New Roman",serif;
color:black'>Angaben gemäß § 5 TMG / § 18 MStV</span></b><span style='font-family:"Times New Roman",serif;color:black'><br/>
(Information according to § 5 TMG / § 18 MStV)</span></p>
<p style="line-height:normal"><b><span style='font-family:"Times New Roman",serif;
color:black'>Christoph Berens von Rautenfeld</span></b><span style='font-family:
"Times New Roman",serif;color:black'><br/>
<b>Rua Londres 693</b><br/>
<b>06543-350 Santana de Parnaíba, São Paulo</b><br/>
<b>Brasil</b></span></p>
<p style="line-height:normal"><b><span style='font-family:"Times New Roman",serif;
color:black'>Kontakt / Contact</span></b><span style='font-family:"Times New Roman",serif;
color:black'><br/>
E-Mail / Email: info@rautenfeld.org</span></p>
<p style="line-height:normal"><b><span style='font-family:"Times New Roman",serif;
color:black'>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV / § 18 MStV</span></b><span style='font-family:"Times New Roman",serif;color:black'><br/>
(Responsible for content according to § 55 Abs. 2 RStV / § 18 MStV)<br/>
<b>Christoph Berens von Rautenfeld</b><br/>
Address as above</span></p>
<div align="center" style="margin-bottom:0cm;text-align:center;
line-height:normal"><span style='font-family:"Times New Roman",serif'>
<hr align="center" size="0" width="100%"/>
</span></div>
<p style="line-height:normal"><b><span style='font-size:13.5pt;
font-family:"Times New Roman",serif;color:black'>Haftungsausschluss /
Disclaimer</span></b></p>
<p style="line-height:normal"><b><span style='font-family:"Times New Roman",serif;
color:black'>Deutsch:</span></b><span style='font-family:"Times New Roman",serif;
color:black'><br/>
Die Inhalte dieser Website wurden mit größter Sorgfalt erstellt. Für die
Richtigkeit, Vollständigkeit und Aktualität der Inhalte wird keine Gewähr
übernommen.</span></p>
<p style="line-height:normal"><b><span style='font-family:"Times New Roman",serif;
color:black'>English:</span></b><span style='font-family:"Times New Roman",serif;
color:black'><br/>
The contents of this website were created with the greatest care. However, no
guarantee can be given for the correctness, completeness, and up-to-dateness of
the contents.</span></p>
<div align="center" style="margin-bottom:0cm;text-align:center;
line-height:normal"><span style='font-family:"Times New Roman",serif'>
<hr align="center" size="0" width="100%"/>
</span></div>
<p style="line-height:normal"><b><span style='font-size:13.5pt;
font-family:"Times New Roman",serif;color:black'>Urheberrecht / Copyright</span></b></p>
<p style="line-height:normal"><b><span style='font-family:"Times New Roman",serif;
color:black'>Deutsch:</span></b><span style='font-family:"Times New Roman",serif;
color:black'><br/>
Die auf dieser Website erstellten Inhalte und Werke unterliegen dem deutschen
Urheberrecht.</span></p>
<p style="line-height:normal"><b><span style='font-family:"Times New Roman",serif;
color:black'>English:</span></b><span style='font-family:"Times New Roman",serif;
color:black'><br/>
All content and works created on this website are subject to German copyright
law.</span></p>
<p> </p>
</div>
</section>
