---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			
			<strong>Impressum / Legal Notice</strong>
  <strong>Angaben gemäß § 5 TMG / § 18 MStV</strong>
  <p>(Information according to § 5 TMG / § 18 MStV)</p>
  <p>
    <strong>Christoph Berens von Rautenfeld</strong><br />
    <strong>Rua Londres 693</strong><br />
    <strong>06543-350 Santana de Parnaíba, São Paulo</strong><br />
    <strong>Brasil</strong>
  </p>
  <strong>Kontakt / Contact</strong>
  <p>
    E-Mail / Email: <a href="mailto:info@rautenfeld.org">info@rautenfeld.org</a>
  </p>
  <strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV / § 18 MStV</strong>
  <p>
    (Responsible for content according to § 55 Abs. 2 RStV / § 18 MStV)<br />
    <strong>Christoph Berens von Rautenfeld</strong><br />
    Address as above
  </p>
  <hr />
  <strong>Haftungsausschluss / Disclaimer</strong>
  <p>
    Die Inhalte dieser Website wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte wird keine Gewähr übernommen.
  </p>
  <p>
    The contents of this website were created with the greatest care. However, no guarantee can be given for the correctness, completeness, and up-to-dateness of the contents.
  </p>
  <hr />
  <strong>Urheberrecht / Copyright</strong>
  <p>
    Die auf dieser Website erstellten Inhalte und Werke unterliegen dem deutschen Urheberrecht.
  </p>
  <p>
    All content and works created on this website are subject to German copyright law.
  </p>


		</main>
		<Footer />
	</body>
</html>
