---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import wappen from '../components/wappen.png';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			
			
			<img src={wappen} alt="Wappen" />
			<img src="/wappen_small.png" alt="Wappen" />

			<h1>🧬 Hello, visitor!</h1>
			<p>
				Welcome to the official <b>Berens von Rautenfeld</b> family website.
			</p>
			<p>
			</p>

			

			<p></p>
		
			<p>
				Have fun!
			</p>

		</main>
		<Footer />
	</body>
</html>
