---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			
			
			<img src="/wappen_small.png" alt="Wappen" 
				width: 20%;
    			margin-left: auto;
   				margin-right: auto;
			/>

			<h3>🧬 Hello, visitor!</h3>
			<p>
				Welcome to the official <b>Berens von Rautenfeld</b> family website.
			</p>
			<p>
			</p>

			

			<p></p>
		
			<p>
				Have fun!
			</p>

		</main>
		<Footer />
	</body>
</html>
