---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			
			
			<div style="text-align: center;">
				<img src="/wappen_small.png" alt="Wappen"/>
				<h3>🧬 Hello, visitor!</h3>
				<p>
					Welcome to the official <b>Berens von Rautenfeld</b> family website.
				</p>
				<p></p>
				<p></p>
		
				<p>
					Have fun!
				</p>


<svg width="128" height="128" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
  <g fill="#001f4d">
    <!-- Schildform -->
    <path d="M64,8 C90,8 112,30 112,56 C112,92 64,120 64,120 C64,120 16,92 16,56 C16,30 38,8 64,8 Z" />
    
    <!-- Linke Seite: Hund -->
    <path d="M40,50 C42,45 48,45 50,50 C52,55 52,65 48,70 C44,75 38,70 40,60 Z" />

    <!-- Rechte Seite: Drei Rauten -->
    <polygon points="80,40 85,45 80,50 75,45" />
    <polygon points="80,60 85,65 80,70 75,65" />
    <polygon points="80,80 85,85 80,90 75,85" />

    <!-- Helm -->
    <ellipse cx="64" cy="30" rx="20" ry="10" />

    <!-- Adler -->
    <path d="M64,10 L74,20 L64,30 L54,20 Z" />
    <path d="M54,20 L44,10" />
    <path d="M74,20 L84,10" />
  </g>
</svg>

			</div>

		</main>
		<Footer />
	</body>
</html>
